
.parceiros-lista{
  padding-top: 60px;
  padding-bottom: 120px;
}
.parceiros-lista h2{
  margin-bottom: 60px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}
.parceiros-lista ul{
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}
.parceiros-lista li{
  display: flex;
  padding: 32px;
  
}
.parceiros-lista img{
margin: auto;
}
.borda-left{
  border-left: 2px solid var(--cor-2);
}
.borda-botton{
border-bottom:  2px solid var(--cor-2);
}
@media(max-width:800px){
  .parceiros-lista{
    padding-bottom: 60px;
  }
  .parceiros-lista > h2{
    margin-bottom: 50px;
  }
  .parceiros-lista ul{
    grid-template-columns: repeat(2, 1fr);

  }
  .parceiros-lista li:nth-child(odd){
    border-left: none;   
  }
  .parceiros-lista li:nth-child(n+1){
    border-top: none;   
  }
  .parceiros-lista li:nth-child(n+7){
    border-top: 2px solid var(--cor-2);
  }
}